@model IEnumerable<UserViewModel>

@{
    string studentName = ViewData["StudentName"].ToString();
    string age = ViewData["StudentAge"].ToString();
    string stdName = ViewBag.StudentName;
    int age1 = ViewBag.Title;
    var student = TempData["Student"];
}

<p>Welcome to students page.</p>
<p>Student name is @studentName and his age is @age y.o.</p>
<p>Student name is @stdName and age is @age1</p>
<p>Student name is @student</p>


<a class="nav-link text-dark" asp-controller="Student" asp-action="New">New</a>

<a class="nav-link text-dark" asp-controller="Student" asp-action="UserPage">User</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>
                    @if (string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <p>Image is empty.</p>
                    }
                    else
                    {
                        <img style="width: 50px" src="@item.ImageUrl" />
                    }
                </td>

            </tr>    
        
        
        }
    </tbody>

</table>

